#div{
    width: 600px;
    
    margin-left: 30%;
    border: 2px solid black;
    padding: 20px;
}
.h2{
    text-align: center;
}
.a{border-bottom: 2px solid rgb(49, 49, 248);
    color: rgb(49, 49, 248);
}